.card {
    background-color: #2c272bff;
    border-radius: 2rem;
    height: 12rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    height: 10rem;
    width: auto;
    border-radius: 2rem;

}